/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* General Styles */

body {
	background:#000;
	color:#eee;
	font-family:'Courier New', 'Courier New', monospace;
	padding:0px;
	margin:0px;
}

a, a:hover, a:visited, a:active {
	color:#9bb69a;
	text-decoration:none;
	outline: none;
}

a:hover {
	text-decoration:underline;
	color:#8da58c;
}

h1, h2, h3, h4 {
	
}

/* General Classes */

.hidden {
	display:none !important;
}

.hello-world {
	color:#4ccb48;
	font-size:40px;
	height:200px;
}

.hello-world .cursor {
	display:inline-block;
	width:30px;
	margin:0px;
	padding:0px;
	background:#4ccb48;
}

/**************
Page Format
***************/

/* Page Format: Background */

#background {
	position:absolute;
	top:0px;
	left:0px;
	color:#0a1c09;
	height:100%;
	width:100%;
	word-wrap:break-word;
	overflow:hidden;
}

/* Page Format: Header */

#header {
	position:relative;
	height:65px;
}

#header .logo {
	position:absolute;
	top:10px;
	left:10px;
}

#header .logo a {
	font-size:40px;
}

#header .logo a:hover {
	color:#bbb;
	text-decoration:none;
}

#header .social {
	position:absolute;
	top:15px;
	right:10px;
}

#header .social ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

#header .social ul li {
	padding:0px;
	margin:0px 3px;
	display:inline-block;
	float:left;
}

/* Page Format: Content */

#content {
	width:90%;
	margin:0 auto;
	background:#111;
	opacity:0.9; 
	-moz-opacity:0.9; 
	filter:alpha(opacity=90);
	border:1px solid #222722;
	padding:10px;
	min-height:500px;
}

/* Page Format: Footer */

#footer {
	position:relative;
	padding:10px;
}

#footer .copyright {
	float:right;
	font-size:12px;
	color:#666;
}

#page-overlay {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
}